<!doctype html>  <!-- HTML5 -->
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Самый простецкий калькулятор</title>
</head>
<body>
	<form method="post">{% csrf_token %}
		<!-- Запросим у пользователя ввести данный и операцию между ними (2 + 7) или (8789 / 989). -->
		<input type="text" name="solution" placeholder="Введите значения...">
        <button type="submit" name="knopka">Расчитать</button>
	</form>
	<!-- Ниже будем результат решения. -->
	<p id="result">{{ result }}</p>
</body>
</html>